{% extends "base.html" %} {% load static %} {% block title %}Log in - AI Guided
Journal{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'journal/css/entries.css' %}" />
<div class="login-container">
  <h2>Log in</h2>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="button">Log in</button>
  </form>
  <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
</div>
{% endblock %}
