<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AI Guided Journal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'journal/css/home.css' %}" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="banner">
      <h1 id="banner-title">AI Guided Journal</h1>
    </div>
    <div class="currentDate">
      <h1 id="today-text" class="title">Today, it's:</h1>
      <h2 id="current-date">Date Placeholder</h2>
    </div>
    <div class="currentTime">
      <h3 class="title">Current Time:</h3>
      <h3 id="current-time">Time Placeholder</h3>
    </div>
    <div class="journal-form">
      <form method="post">
        {% csrf_token %}
        <textarea
          id="journal-input"
          name="text"
          placeholder="Write your journal entry..."
        ></textarea
        ><br />
        <div id="home_buttons">
          <button id="submit_bt" class="button" type="submit">Save</button>
          <button id="clear_bt" class="button" type="button">Clear</button>
        </div>
        <div id="status_message">
          {% if status_message %}
          <p>{{ status_message }}</p>
          {% endif %}
        </div>
      </form>
    </div>

    <script src="{% static 'journal/js/dateAndTime.js' %}"></script>
    <script src="{% static 'journal/js/clearTextArea.js' %}" async defer></script>
  </body>
</html>
