.entries-list {
  list-style-type: none;
}

#entry-text {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #65a17a;
  white-space: pre-wrap;
  font-weight: bold;
}

.entry {
  border: 1px solid #444;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #1e1e1e;
  max-width: 75vw;
  word-wrap: break-word;
}

.entries h2 {
  font-size: 2rem;
  padding: 2rem;
  color: #65a17a;
}

.entry-metadata small {
  font-size: 1.25rem;
  color: #888;
  margin-bottom: 0.5rem;
}
